# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos Virtuales (uv, venv)
.venv
.env
venv/
ENV/

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Logs y Bases de datos locales
*.log
*.sqlite